@import "tailwindcss";

@theme {
  --color-primary: #1F338A;
  --color-primary-deep: #162654;
  --color-secondary: #8090C4; 
  --color-progress: #32BAD2;
  --color-success: #42D5AB;
  --color-error: #F85555;
  --color-warning: #FED242;
  --color-text: #171717;
  --color-text-secondary: #666666;
  --color-border: #E5E7EB;
}

body {
  font-family: "Roobert-Trial";
  font-weight: 400;
}
